<div class="container">
  <h2>Dados do Cliente</h2>
  <br>
  <form (ngSubmit)="onSubmit()" #bookForm="ngForm">
    <div class="mb-3">
      <label for="name" class="form-label">Nome</label>
      <input type="text" id="name" class="form-control" [(ngModel)]="customer.name" name="nome" required>        
    </div>

    <div class="mb-3">
      <label for="subject" class="form-label">E-Mail</label>
      <input type="text" id="subject" class="form-control" [(ngModel)]="customer.email" name="email">
    </div>

    <div class="row mb-3">
      <div class="col-md-4">
        <label for="subject" class="form-label">Telefone</label>
        <input type="text" id="subject" class="form-control" [(ngModel)]="customer.phone" name="telefone">
      </div>
    </div>

    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
      <a routerLink="/clientes" class="btn btn-secondary">
        <i class="fas fa-arrow-left"></i> Voltar</a>
      <button type="submit" class="btn btn-success">
        <i class="fas fa-save"></i> Salvar</button>
    </div>    
  </form>
</div>        
